@using Components.Custom
@namespace Components.Layout

<div class="container">

    <div id="row-1" class="row">
        <DocLink DocModelName="AGPRyegrass" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/AGPRyegrass"/>

        <DocLink DocModelName="AGPWhiteClover" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/AGPWhiteClover"/>

        <DocLink DocModelName="Barley" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Barley"/>

        <DocLink DocModelName="Canola" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Canola"/>
    </div>

    <div id="row-2" class="row">
        <DocLink DocModelName="Chickory" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Chickory"/>

        <DocLink DocModelName="Chickpea" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Chickpea"/>

        <DocLink DocModelName="Eucalyptus" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Eucalyptus"/>

        <DocLink DocModelName="FodderBeet" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/FodderBeet"/>           
    </div>

    <div id="row-3" class="row">
        <DocLink DocModelName="Gliricidia" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Gliricidia"/>

        <DocLink DocModelName="Maize" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Maize"/>

        <DocLink DocModelName="MicroClimate" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/MicroClimate"/>

        <DocLink DocModelName="Mungbean" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Mungbean"/>              
    </div>

    <div id="row-4" class="row">
        <DocLink DocModelName="Nutrient" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Nutrient"/>

        <DocLink DocModelName="Oats" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Oats"/>

        <DocLink DocModelName="OilPalm" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/OilPalm"/>

        <DocLink DocModelName="Peanut" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Peanut"/>             
    </div>

    <div id="row-5" class="row">
        <DocLink DocModelName="Pinus" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Pinus"/>

        <DocLink DocModelName="PlantainForage" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/PlantainForage"/>

        <DocLink DocModelName="Potato" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Potato"/>

        <DocLink DocModelName="RedClover" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/RedClover"/>         
    </div>

    <div id="row-6" class="row">
        <DocLink DocModelName="SCRUM" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/SCRUM"/>

        <DocLink DocModelName="Slurp" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Slurp"/>

        <DocLink DocModelName="SoilArbitrator" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/SoilArbitrator"/>

        <DocLink DocModelName="SoilTemperature" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/SoilTemperature"/>            
    </div>

    <div id="row-7" class="row">
        <DocLink DocModelName="Sorghum" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Sorghum"/>

        <DocLink DocModelName="Soybean" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Soybean"/>

        <DocLink DocModelName="Sugarcane" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Sugarcane"/>

        <DocLink DocModelName="Stock" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Stock"/>       
    </div>

    <div id="row-8" class="row">
        <DocLink DocModelName="SWIM" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/SWIM"/>

        <DocLink DocModelName="Wheat" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/Wheat"/>

        <DocLink DocModelName="WhiteClover" 
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="doc/WhiteClover"/>

        <DocLink DocModelName="Clock" 
            DocLinkHref="tutorial/clock"
            DocDescript="Describes the order of events triggered by the Clock model.">
        </DocLink> 
    </div>

    <div id="row-9" class="row">
        <DocLink DocModelName="CLEM Documentation site" 
            DocLinkHref="https://www.apsim.info/clem/Content/Home.htm"
            DocDescript="Specific site for CLEM information">
        </DocLink> 

        <DocLink DocModelName="CLEM Cropping Examples" 
            DocLinkHref="doc/CLEM Examples"
            DocDescript="Setting up cropping simulations.">
        </DocLink> 

        <DocLink DocModelName="CLEM Grazing Example" 
            DocLinkHref="doc/CLEM Grazing Example"
            DocDescript="CLEM grazing simulation example">
        </DocLink> 
    </div>
</div>


