@using APSIM.Documentation
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Mvc
@using APSIM.Docs.Components.State
@inject StateContainer StateContainer
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@page "/doc/{filename}"

<PageTitle>@Filename documentation</PageTitle>

<HeadContent>
    <style id="style">
        @GetCssString()
    </style>
</HeadContent>

@if (IsLoading)
{
    <div class="text-center text-success">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading</span>
        </div>
    </div>
}
else
{
    @GetDocString();
}

@code{
    private string? filename;

    private bool IsLoading {get;set;} = true;

    private MarkupString? cssString;

    [Parameter]
    public MarkupString? docString { get; set; }

    [Parameter]
    public string? Filename
    {
        get { return filename; }
        set { filename = value; }
    }

    protected override void OnInitialized()
    {
        MarkupString markupDocString = new(File.ReadAllText("wwwroot\\docs.css"));
        cssString = markupDocString;
    }

    protected override void OnAfterRender(bool firstRenderer)
    {
        if (firstRenderer == true)
        {
            GetApsimDocString();
            IsLoading = false;
            StateHasChanged();
        }
    }

    public RenderFragment GetDocString()
    {
        RenderFragment renderFragment = @<div>@docString</div>;
        return renderFragment;
    }

    private void SetCSS()
    {
        if (StateContainer.CssString != null)
        {
            MarkupString markupDocString = new(StateContainer.CssString);
            cssString = markupDocString;
        }        
    }

    public MarkupString? GetCssString()
    {
        return cssString;
    }

    private void GetApsimDocString()
    {
        if (StateContainer.ApsimDocString != null)
        {
            string initialApsimDocString = StateContainer.ApsimDocString;
            string linkModifiedApsimDocString = initialApsimDocString.Replace("href=\"#",$"href=\"{NavigationManager.Uri}#");
            MarkupString markupDocString = new(linkModifiedApsimDocString);
            docString = markupDocString;
        }
    }

}
